/* Body */

body {

    background-color: #EDEDED;

}

header {

    background-color: white;
     
}

/* Navbar */

.navbar {
    
    height: 60px;
    padding: 30px;
    
  
}

.navbar-brand {

    padding: 15px;
    background-color: #0BADA6;
    font-size: 20px;
    width: 150px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px;
    color:white;
    
}

.navbar-brand:hover {

    color: black
}

.nav-item:hover {

    background-color:#EDEDED;
    
}

.dropdown:hover .dropdown-menu  {

    display: block

} 


/* Images */

img{

    width:100% !important;
    height:100% !important;

}
.active, .panel:hover{

    border-color:#0BADA6;
    border-style: solid; 
    
}
.vizualization{

    width:50% !important;
    height:50% !important;

}

/* Title Class  */

.title{

    color: #0BADA6;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 

}

/* Paragraph Element */

p{

    color: #6D8092;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px; 

}

/* Box Class */

.box {

    margin-top: 60px;  
    padding: 30px; 
    color:black;
    background-color: white; 
    
}

/* Table */

.table{

    font-size: 15px; 
    border-top-color: white !important; 

}

/* Footer */

footer{

    background-color: #666666; 
    border-top-style: solid; 
    border-top-width: 5px; 
    border-top-color: #0BADA6;
    color: white; 
    min-height: 55px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px; 

}

/* Comparison */

#p {

    color: black;
    font-size: 14px

}

#comparison_title {

    text-align: center;
    padding-top: 0px

}