body {

    background-color: #EDEDED;

}


header {

    background-color: white;
     
}


header::after {

    content: "";
    display: table;
    clear: both

}


.navigation {
    
    width: 95%;
    height: 60px;
    padding: 0px;
    margin: auto;
    
    
}

.logo {

    float: left;
    padding: 15px;
    color: white;
    background-color: #0BADA6;
    font-size: 22px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

.logo:hover{

    color: black

}

nav {

    float: right;
    
}

nav ul {

    list-style: none;
    
    
}


nav ul li {

    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -10px
   
    
}

nav ul li a {

    color: grey;
      
}

nav ul li a:hover{

    background-color: #EDEDED;
    color: black;
    padding: 10px;
    margin: -10px

}

    

